Importación de librerías necesarias

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, inspect
from dotenv import load_dotenv
import os

Carga de credenciales para acceder a la base de datos

In [6]:
load_dotenv()

localhost = os.getenv('LOCALHOST')
port = os.getenv('PORT')
nameDB = os.getenv('DB_NAME')
userDB = os.getenv('DB_USER')
passDB = os.getenv('DB_PASS')

engine = create_engine(f'postgresql+psycopg2://{userDB}:{passDB}@{localhost}:{port}/{nameDB}')

inspector = inspect(engine)

try:
    engine = create_engine(f'postgresql+psycopg2://{userDB}:{passDB}@{localhost}:{port}/{nameDB}')

    inspector = inspect(engine)
    
    print("Conexión exitosa a la base de datos.")

except Exception as e:
    print(f"Error al conectar a la base de datos: {e}")

finally:
    engine.dispose()

Conexión exitosa a la base de datos.

# Carga de los datos

In [7]:
dataframe = 'cars'  

df = pd.read_sql_table(dataframe, engine)

print(df.head())
print(df.info())

   Year    Make            Model Used/New    Price  ConsumerRating  \
0  2019  Toyota        Sienna SE     Used  $39,998             4.6
1  2018    Ford     F-150 Lariat     Used  $49,985             4.8
2  2017     RAM     1500 Laramie     Used  $41,860             4.7
3  2021   Honda  Accord Sport SE     Used  $28,500             5.0
4  2020   Lexus           RX 350     Used  $49,000             4.8

   ConsumerReviews SellerType  \
0               45     Dealer
1              817     Dealer
2              495     Dealer
3               36     Dealer
4               76     Dealer

                                          SellerName  SellerRating  ...  \
0  CarMax Murrieta - Now offering Curbside Pickup...           3.3  ...
1                                    Giant Chevrolet           4.8  ...
2                             Gill Auto Group Madera           4.6  ...
3                                AutoSavvy Las Vegas           4.6  ...
4                                 Lexus of Henderson           4.8  ...

   InteriorColor         Drivetrain MinMPG MaxMPG  FuelType  \
0          Black  Front-wheel Drive     19     27  Gasoline
1          Black   Four-wheel Drive     19     24  Gasoline
2          Black   Four-wheel Drive     15     21  Gasoline
3              –  Front-wheel Drive     29     35  Gasoline
4          Birch  Front-wheel Drive     20     27  Gasoline

         Transmission                           Engine                VIN  \
0   8-Speed Automatic             3.5L V6 24V PDI DOHC  5TDXZ3DC2KS015402
1  10-Speed Automatic  3.5L V6 24V PDI DOHC Twin Turbo  1FTEW1EG2JFD44217
2   8-Speed Automatic             5.7L V8 16V MPFI OHV  1C6RR7VT5HS842283
3       Automatic CVT       1.5L I4 16V GDI DOHC Turbo  1HGCV1F49MA038035
4   8-Speed Automatic             3.5L V6 24V PDI DOHC  2T2AZMAA8LC156270

      Stock#  Mileage
0   22998646    29403
1     22418A    32929
2  NG277871G    23173
3      54237    10598
4   HDT4181A    28137

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9379 entries, 0 to 9378
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   9379 non-null   int64
 1   Make                   9379 non-null   object
 2   Model                  9379 non-null   object
 3   Used/New               9379 non-null   object
 4   Price                  9379 non-null   object
 5   ConsumerRating         9379 non-null   float64
 6   ConsumerReviews        9379 non-null   int64
 7   SellerType             9379 non-null   object
 8   SellerName             9379 non-null   object
 9   SellerRating           9379 non-null   float64
 10  SellerReviews          9379 non-null   int64
 11  StreetName             9379 non-null   object
 12  State                  9379 non-null   object
 13  Zipcode                9379 non-null   object
 14  DealType               9157 non-null   object
 15  ComfortRating          9379 non-null   float64
 16  InteriorDesignRating   9379 non-null   float64
 17  PerformanceRating      9379 non-null   float64
 18  ValueForMoneyRating    9379 non-null   float64
 19  ExteriorStylingRating  9379 non-null   float64
 20  ReliabilityRating      9379 non-null   float64
 21  ExteriorColor          9379 non-null   object
 22  InteriorColor          9379 non-null   object
 23  Drivetrain             9379 non-null   object
 24  MinMPG                 9379 non-null   int64
 25  MaxMPG                 9379 non-null   int64
 26  FuelType               9379 non-null   object
 27  Transmission           9379 non-null   object
 28  Engine                 9379 non-null   object
 29  VIN                    9379 non-null   object
 30  Stock#                 9379 non-null   object
 31  Mileage                9379 non-null   int64
dtypes: float64(8), int64(6), object(18)
memory usage: 2.3+ MB
None